---

config:
  core.https_address: {{ lxd_init_https_addr }}:{{ lxd_init_https_port }}
  core.trust_password: {{ lxd_init_trust_pass }}
cluster:
  server_name: {{ lxd_init_clust_name }}
  server_address: ""
  enabled: true
  member_config: []
  cluster_address: ""
  cluster_certificate: ""
  cluster_password: ""
networks:
- config:
    bridge.mode: fan
    fan.underlay_subnet: {{ lxd_fan_underlay_subnet | default('auto') }}
  description: ""
  managed: false
  name: lxdfan0
  type: ""
{% if lxd_init_storage == 'btrfs' %}
storage_pools:
- config:
    source: /var/snap/lxd/common/lxd/storage-pools/local
  description: ""
  name: local
  driver: btrfs
{% endif %}
{% if lxd_init_storage == 'dir' %}
storage_pools:
- config: {}
  description: ""
  name: local
  driver: dir
{% endif %}
profiles:
- config: {}
  description: ""
  devices:
    eth0:
      name: eth0
      nictype: bridged
      parent: lxdfan0
      type: nic
    root:
      path: /
      pool: local
      type: disk
  name: default
